<body>
    <!-- ******HEADER****** --> 
    <header class="header">
        <div class="container">
        		<%= image_tag("profile4.png", class: "profile-image img-responsive pull-left img-circle", :alt => "Jason Ko") %>                       
            <div class="profile-content pull-left">
                <h1 class="name">柯力中 Jason Ko</h1>
                <h2 class="desc">Web App Developer，Android App Developer</h2>   
                <ul class="social list-inline">
                    <li><a href="https://www.facebook.com/kerlichung" target="_blank"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="https://plus.google.com/u/0/115035503924395782947/posts" target="_blank"><i class="fa fa-google-plus"></i></a></li>
                    <li><a href="https://github.com/KosbrotherSchool" target="_blank"><i class="fa fa-github"></i></a></li> 
                    <li class="last-item"><a href="https://www.youtube.com/channel/UCNjomqYjxHvz0TmfsgYcqxQ/videos" target="_blank"><i class="fa fa-youtube"></i></a></li>              
                </ul> 
            </div><!--//profile-->
            <a class="btn btn-cta-primary pull-right" href="mailto:kosbrotherschool@gmail.com"><i class="fa fa-paper-plane"></i> Contact Me</a>              
        </div><!--//container-->
    </header><!--//header-->
    
    <div class="container sections-wrapper">
        <div class="row">
            <div class="primary col-md-8 col-sm-12 col-xs-12">

                <% if params[:msg] == "success" %>
                    <section class="latest section">
                        <div class="section-inner">
                            <h3 class="title" style="color:orange">收到您的訊息了, 感謝您 ~</h3>
                        </div>
                    </section>  
                <% end %>

                <% if params[:msg] == "error" %>
                    <section class="latest section">
                        <div class="section-inner">
                            <h3 class="title" style="color:orange">很抱歉, 訊息發生錯誤, 請稍候再試~</h3>
                        </div>
                    </section>  
                <% end %>

                <section class="about section">
                    <div class="section-inner">
                        <h2 class="heading">About Me</h2>
                        <div class="content">
                            <p>嗨，朋友叫我小柯。10歲的時候想當科學家，18歲的時候想當老師，23歲的時候想當企業家，現在是獨立APP開發者。理想是與志同道合的朋友一起工作，成立無國界的軟體公司；夢想是與家人們快樂地過好每一天。<b>相信人生重要的是過程，持續朝著山頂目標前進，就能擁有一段美好的旅程。</b></p>    
         
                            <p>Hi, I'm Jason. I dreamed of becoming a scientist when I was 10, and dreamed of becoming a teacher when I'm 18, and an entrepreneur when 23. I'm an App Developer now. My ideal is to start a business with like-minded friends by running a broad software company. And my biggest dream is to live happily with family everyday. I believe life is a process, not only the result; as long as we target the top of the mountain and keep going, we all will have a wonderful journey.</p>
                         
                        </div><!--//content-->

                    </div><!--//section-inner-->                 
                </section><!--//section-->
                

                <section class="section">
                    <div class="section-inner">
                        <h2 class="heading">Latest Project</h2>
                        <div class="content">
                            <div class="item featured text-center">
                                <h3 class="title">Android 新手魔法書</h3>

                                <h4 class="summary" style="color:red">本書只有 100 頁,不寫冗言贅字,相信你一定看得完!</h4>

                                <s>定價US$5.99</s><h4 class="summary" style="color:red">特價 US$4.99</h4>
                                <a class="payhip-button payhip-button-grey payhip-button-medium " data-key="ed85" href="https://payhip.com/b/ed85">Buy eBook</a><script type="text/javascript" src="https://payhip.com/btn.js"></script>

                                <div class="featured-image">
                                    <!-- <a href="" target="_blank"> -->
                                    <%= image_tag("newbie_book.png", :margin =>100, class: "img-responsive project-image", :alt => "Android 應用程式快樂學習班") %>  
                                    <!-- </a> -->
                                </div>
                                <br>

                                <div class="desc text-left">

                                    <h3 class="title">緣起:</h3>
                                    <p>市⾯上許多 Android 的教學書,⼤多寫得厚厚一本,</p>
                                    <p>在短短的時間內要讀者學習書內的所有東西,相當地累人。</p>
                                    <p>即使勤奮的學⽣,學到後面的時候,往往前⾯就忘了。</p>
                                    <p>不信的話,隨便抓⼗個工程師來問,有誰記得書上藍芽的⽤法?!</p>
                                    <br>
                                    <p>學了就忘,學⽽而從來不⽤,都是學習時間上的⼀種浪費,</p>
                                    <p>本書的目的是希望讀者花最少的時間,</p>
                                    <p>最少的⼒氣就能學到「如何開發 Android APP」。</p>
                                    <br>
                                    <p>所以⼀些冗⾔贅字我們就不寫在這本書裡了,例如:</p>
                                    <p>Android 的歷史, Android 的市場, 多點觸控, 藍芽, Sensor...等.</p>
                                    <br>
                                    <p>我們假設這本書的讀者是「Android 的新手」, </p>
                                    <p>你可能學過 Java 或你沒有學過 Java 都沒有關係,</p>
                                    <p>本書從 Java 說起, 我們只要學會⾜夠可用的 Java 即可.</p>
                                    <br>
                                    <p>除了 Java 之外, 本書教你如何製作⼀個列表式的APP,</p>
                                    <p>這類 APP 在許多地⽅都會看到, 例如報章類或者食譜類的 APP 等。</p>
                                    <p>透過製作這個 APP, 新⼿可以了解 Android App 的製作過程, 也就算是⼊了門。</p>
                                    <br>
                                    <p>總之, 就讓我們開始吧!</p>
                                    <br>
                                    <h3 class="title">章節內容:</h3>
                                    <p>Chapter 1: 建置開發環境 AndroidStudio</p>
                                    <p>Chapter 2: AndroidStudio 介紹</p>
                                    <p>Chapter 3: 運⾏行 APP 於模擬機與⼿手機</p>
                                    <p>Chapter 4: Java 技巧</p>
                                    <p>Chapter 5: 實作 Android APP</p>
                                    <p>Chapter 6: Debug</p>
                                    <p>Chapter 7: 編譯 APK</p>
                                    <p>Chapter 8: 上架到 Play 商店</p>
                                    <p>Chapter 9: 結語</p>
                                    <br>

                                    <h3 class="title">作者介紹:</h3>
                                    <p>柯力中 Jason Ko，2009 成大物理系畢業</p>
                                    <p>2011 年之初創投第四屆入選隊伍。</p>
                                    <p>2011 年至 2015 年，與朋友開發 APP 超過 20 款，下載超過 300 萬人次，多項產品曾列 Google Play 分類排行第一，最高名列 Google Play 不分類排行榜第二。</p>
                                    <p>台北 Android 讀書會分享講師,成員</p>
                                    <p>台中 Android 固定成員</p>
                                    <br>
                                    <p><i class="fa fa-phone"></i>  0912-585-506  柯力中 Jason</p>
                                    <p><i class="fa fa-envelope-o"></i><span class="sr-only">Email:</span><a href="mailto:kosbrotherschool@gmail.com"> kosbrotherschool@gmail.com</a></p>
                                    <br>
                                    <br>
                                    <br>
                                </div>

                                <s>定價US$5.99</s><h4 class="summary" style="color:red">特價 US$4.99</h4>

                                <a class="payhip-button payhip-button-grey payhip-button-medium " data-key="ed85" href="https://payhip.com/b/ed85">Buy eBook</a><script type="text/javascript" src="https://payhip.com/btn.js"></script>

                            </div>          
                        </div><!--//content-->
                    </div><!--//section-inner-->                 
                </section>

                <section class="latest section">
                    <div class="section-inner">
                        <h2 class="heading">Past Projects</h2>
                        <div class="content">    
                                               
                            <div class="item featured text-center">
                                <h3 class="title">Android 應用程式快樂學習班</h3>
                                <h4 class="summary" style="color:red">學習一技之長，開發屬於自己的應用程式。</h4>
                                <div class="featured-image">
                                    <!-- <a href="" target="_blank"> -->
                                    <%= image_tag("projects/Lollipop-Forest.jpg", class: "img-responsive project-image", :alt => "Android 應用程式快樂學習班") %>  
                                    <!-- </a> -->
                                </div>
                                    
                                <div class="desc text-left">                                    
                                    <h5 class="title">目的:</h5>
                                    <p><b>充分了解 Android 系統，學習手機應用程式開發，並開發自己的應用程式。</b></p>

                                    <br>
                                    <h5 class="title">說明:</h5>
                                    <p>智慧型手機裡面，以 Android 的市佔率最高，並且呈現一家獨大的狀態，<b>每賣出 100 支手機裡面，就有 85 支是 Android 手機</b>。許多公司注意到這個趨勢，也因此 Android 的開發需求越來越多，呈現供不應求的景況。</p>

                                    <p>事實上，除了工作職缺多之外，在國內外也有許多 Android 應用程式的創業者，<b>不但能發展自己喜歡的產品外，也有豐富的報酬</b>，這也是很多獨立開發者或小團隊爭相投入的原因。</p>

                                    <p><b>把學習 Android 當作程式設計的入門也是相當適合的</b>，只是程式設計內涵博大精深，要廣而深的學習就需要付出相當的時間與熱忱，希望藉由「Android 應用程式快樂學習班」可能讓大家找到那份熱情與動力。</p>

                                    <br>
                                    <h5 class="title">上課時間、地點與費用：</h5>
                                    <p>日期：4月20日 至 5月15日</p>
                                    <p>時間：每個禮拜的ㄧ、三、五</p>
                                    <p>&emsp;&emsp;&emsp;晚上7：00 ~ 10:00</p>
                                    <p>地點：台中市西區忠明南路325號3樓之7</p>
                                    <p>費用：<s>原價 $7000</s>，<b>快樂學習價 $3500</b></p>
                                    <p>名額：限15名，需自備電腦</b></p>

                                    <br>
                                    <h5 class="title">講師介紹:</h5>
                                    <p>柯力中 Jason Ko，2009 成大物理系畢業</p>

                                    <br>
                                    <h5 class="title">經歷介紹:</h5>
                                    <p>2011 年之初創投第四屆入選隊伍。</p>
                                    <p>2011 年至 2015 年，與朋友開發 APP 超過 20 款，下載超過 300 萬人次，多項產品曾列 Google Play 分類排行第一，最高名列 Google Play 不分類排行榜第二。</p>

                                    <br>
                                    <h5 class="title">報名方式:</h5>
                                    <p>線上報名(網址)：請點擊下方連結。</p>
                                    <p><i class="fa fa-phone"></i> 0912-585-506 奇芽科技有限公司 柯力中</p>
                                    <p><i class="fa fa-envelope-o"></i><span class="sr-only">Email:</span><a href="mailto:kosbrotherschool@gmail.com"> kosbrotherschool@gmail.com</a></p>

                                </div><!--//desc-->         
                                    <a class="btn btn-cta-secondary" href="http://jasonandroid.kktix.cc/events/9e82a4de" target="_blank">
                                        <i class="fa fa-thumbs-o-up"></i> 課程資料連結,已結束
                                    </a>                 
                            </div><!--//item-->
                            
                            

                        </div><!--//content-->  
                    </div><!--//section-inner-->                 
                </section><!--//section-->


                <!-- <section class="section">
                    <div class="section-inner">
                        <div class="row">
                            <h3 class="title">留訊息給我：</h3>

                            <div class="col-lg-8 col-lg-offset-2">
                                <%= form_for @user, url: {action: "send_message"}  do |f| %>
                                    <div class="row control-group">
                                        <div class="form-group col-xs-12 floating-label-form-group controls">
                                            <label>稱呼</label>
                                            <%= f.text_field :name, :placeholder => "Name", :required => true, :class => "form-control"  %>
                                        </div>
                                    </div>
                                    <div class="row control-group">
                                        <div class="form-group col-xs-12 floating-label-form-group controls">
                                            <label>Email 信箱</label>
                                            <%= f.text_field :email, :placeholder => "Email 信箱", :required => true, :class => "form-control", :type => "email"  %>
                                        </div>
                                    </div>
                                    <div class="row control-group">
                                        <div class="form-group col-xs-12 floating-label-form-group controls">
                                            <label>想說的話</label>
                                            <%= f.text_area :message, :placeholder => "想說的話", :class => "form-control" %>
                                        </div>
                                    </div>
                                    <br>
                                    <div id="success"></div>
                                    <div class="row">
                                        <div class="form-group col-xs-12">
                                            <button type="submit" class="btn btn-success btn-lg">發送</button>
                                        </div>
                                    </div>
                                </form>
                                <% end %>
                            </div>   
                        </div>
                    </div>
                </section> -->

            </div><!--//primary-->

            <div class="secondary col-md-4 col-sm-12 col-xs-12">
                 <aside class="info aside section">
                    <div class="section-inner">
                        <h2 class="heading sr-only">基本資料</h2>
                        <div class="content">
                            <ul class="list-unstyled">
                                <li><i class="fa fa-map-marker"></i>
                                    <span class="sr-only">Location:</span>台灣 , 台中市
                                </li>
                                <li><i class="fa fa-envelope-o"></i><span class="sr-only">Email:</span><a href="mailto:kosbrotherschool@gmail.com">kosbrotherschool@gmail.com</a></li>
                                <li><i class="fa fa-link"></i><span>教學部落格 </span><a href="http://jasonandroid.blogspot.tw" target="_blank">http://jasonandroid.blogspot.tw</a></li>
                                <li><i class="fa fa-phone"></i><span>家教來電 0912-585-506 Jason</span></li>
                            </ul>
                        </div><!--//content-->  
                    </div><!--//section-inner-->                 
                </aside><!--//aside-->
                
                <aside class="skills aside section">
                    <div class="section-inner">
                        <h2 class="heading">Skills</h2>
                        <div class="content">
                            <p class="intro">
                                熟悉 Android APP 應用程式，以及 Ruby On Rails 的網站開發。
                            </p>
                            
                            <div class="skillset">
                               
                                <div class="item">
                                    <h3 class="level-title">Java &amp; Android<span class="level-label" data-toggle="tooltip" data-placement="left" data-animation="true" title="You can use the tooltip to add more info...">Expert</span></h3>
                                    <div class="level-bar">
                                        <div class="level-bar-inner" data-level="90%">
                                        </div>                                      
                                    </div><!--//level-bar-->                                 
                                </div><!--//item-->                   
                                
                                <div class="item">
                                    <h3 class="level-title">Ruby on Rails
                                        <span class="level-label">Pro</span>
                                    </h3>
                                    <div class="level-bar">
                                        <div class="level-bar-inner" data-level="80%">
                                        </div>                                      
                                    </div><!--//level-bar-->                                 
                                </div><!--//item-->
                                
                                <div class="item">
                                    <h3 class="level-title">HTML5, CSS3, SASS &amp; LESS
                                        <span class="level-label">Normal</span>
                                    </h3>
                                    <div class="level-bar">
                                        <div class="level-bar-inner" data-level="65%">
                                        </div>                                      
                                    </div><!--//level-bar-->                                 
                                </div><!--//item-->

                            </div>              
                        </div><!--//content-->  
                    </div><!--//section-inner-->                 
                </aside><!--//section-->
                
                <aside class="education aside section">
                    <div class="section-inner">
                        <h2 class="heading">Education</h2>
                        <div class="content">
                            <div class="item">                      
                                <h3 class="title"><i class="fa fa-graduation-cap"></i> 物理學系學士</h3>
                                <h4 class="university">成功大學 <span class="year">(2004-2008)</span></h4>
                            </div><!--//item-->
                        </div>
                    </div>
                </aside>
                            
                <aside class="languages aside section">
                    <div class="section-inner">
                        <h2 class="heading">Languages</h2>
                        <div class="content">
                            <ul class="list-unstyled">
                                <li class="item">
                                    <span class="title"><strong>中文:</strong></span>
                                    <span class="level">Native Speaker <br class="visible-sm visible-xs"/><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-half"></i></span>
                                </li><!--//item-->
                                <li class="item">
                                    <span class="title"><strong>English:</strong></span>
                                    <span class="level">Second Language <br class="visible-xs"/><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> </span>
                                </li><!--//item-->
                                
                            </ul>
                        </div><!--//content-->
                    </div><!--//section-inner-->
                </aside><!--//section-->
              
            </div><!--//secondary-->    
        </div><!--//row-->
    </div><!--//masonry-->
    
    <!-- ******FOOTER****** --> 
    <footer class="footer">
        <div class="container text-center">
                <small class="copyright">© 2014 Jason Ko. All Rights Reserved</small>
        </div><!--//container-->
    </footer><!--//footer-->
        
</body>
</html> 

